<h1>Terms of Service</h1>

<h2>Conditions of Use</h2>
<p>
You are responsible and liable for the things you post and you agree not to do any of the following immature things:
  <ul>
    <li>Break the law (especially Copyright law), any of it (local, state, national, international) - because that would be bad and you know it.</li>
    <li>Post anything that you've been told not to publish by the original author</li>
    <li>You recognize that this is publishing, and assume the risks and liabilities associated with that activity</li>
  </ul>
</p>

<h2>Content</h2>
<p>
You accept all risk and liability for things you post. MSU is not responsible for your bad choices (thankfully so). We don't screen uploads, although we do reserve the right to remove them at will for any reason, especially content we deem inappropriate or in violation of this agreement.
</p><p>
We may monitor posts if we so choose, and we may deny access to individuals who break these rules. You've been warned.
</p>

<h2>Usage</h2>
<p>
You accept all risk and liability. MSU is not responsible for any loss, damages, emotional breakdowns, psychiatrist visits, or any other “bad thing” that comes about either directly or indirectly because of FileDrop. Any result of files you retrieve or use from FileDrop is done at your own risk.
</p>